# Note this file is a template, and also the place for default values. So keep it here, and make a copy of this file as
# 'config.yml', then modify the values there. If a field is skipped in the config.yml, the default value defined in this
# file will be used instead.
config_template_version: 0.1

### Sequence Statistics
sequence_stats_config:
  # Possible values are: HFDPlot, ExposurePlot, GuidingPlot, MemoryHistoryPlot
  types: [ HFDPlot, ExposurePlot, GuidingPlot ]  # Select chart types of stats
  hfd_plot_max_shots_count: -1 # The max number of data points on HFD plot. Old images will be discarded when there's more exposure than this limit. -1 means no limit
  guiding_error_plot:
    max_shots_count: -1 # The max number of data points on Guiding error plot. Old error data will be discarded when there's more exposure than this limit. -1 means no limit
    unit: PIXEL # Valid values are PIXEL, ARCSEC
    scale: 1.21 # Arcsec for each pixel of your guiding camera + OTA. Voyager doesn't know this, you have to update this yourself.
    error_boundary: 2.5 # guiding error scatter chart will be limited to [-error_boundary, error_boundary] for both x and y axis. It doesn't care about unit (no auto converstion between pix and arcsec)
  filter_styles:
    Ha:
      marker: +
      color: '#E53935'
    SII:
      marker: v
      color: '#B71C1C'
    OIII:
      marker: o
      color: '#3F51B5'
    L:
      marker: +
      color: '#9E9E9E'
    R:
      marker: +
      color: '#F44336'
    G:
      marker: +
      color: '#4CAF50'
    B:
      marker: +
      color: '#2196F3'

### Messages
# Possible values are: [ DEBUG, INFO, WARNING, CRITICAL, TITLE, SUBTITLE, EVENT, REQUEST, EMERGENCY ]
allowed_log_types: [ WARNING, CRITICAL, TITLE, SUBTITLE, REQUEST, EMERGENCY ]

### Software
voyager_setting:
  domain: <voyager_url>  # Domain or IP for remote Voyager Server
  port: <voyager_port>  # port of remote Voyager Server
  username: <user_name>
  password: <password>
telegram_setting:
  bot_token: <telegram_token>
  chat_id: <chat_id>

### Miscellaneous
# The timezone of your observatory -- not necessary the computer running this bot. Valid timezone names can be found here:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone: America/Los_Angeles
should_dump_log: False  # [Optional] If true, all received JSON messages will be stored in a log file for replay purpose.
# Whether bot should try to monitor the system status of the computer it's running on. Useful when bot and voyager is running on the same computer
monitor_local_computer: False
allow_auto_reconnect: True
language: en-US  # en-US for English, zh-CN for simplified Chinese, zh-TW for traditional Chinese

telegram_enabled: True
html_report_enabled: False
console_config:
  use_emoji: True
  console_type: FULL # Whether you want your console to be an application or not. Valid values are 'PLAIN', 'BASIC', 'FULL'
observing_condition_config:
  forecast_service: [ClearDarkSky, SunAndMoon]  # Options are [ClearDarkSky, OpenWeather, SunAndMoon]
  clear_dark_sky_key: RnhHdlAZkey # The string between the last slash and .html of a clear dark sky link, for example: http://www.cleardarksky.com/c/RnhHdlAZkey.html
  open_weather_api_key: <open_weather_api_key>  # Sign up your own free API key for OpenWeather API at https://home.openweathermap.org/users/sign_up
  latitude: 10
  longitude: 10
